.rect-border-unselected {
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: transparent;
}

.rect-border-selected {
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: blue;
}