regionBorderUnselected {
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-min-width: 50;
    -fx-min-height:50;
    -fx-max-width:50;
    -fx-max-height: 50;
}

regionBorderSelected {
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: blue;
    -fx-min-width: 50;
    -fx-min-height:50;
    -fx-max-width:50;
    -fx-max-height: 50;
}